<header id="header">
				<h1 id="logo"><a href="/">BYFC</a></h1>
				<nav id="nav">
					<ul>
						<li><a href="/">Welcome</a></li>
						<li><a href="http://tournament.barmingyouth.co.uk">Tournament</a></li>
						<li class="submenu">
							<a href="">Club</a>
							<ul>
				            			<li><a href="/blog.html">News</a></li>
				            			<li><a href="/events.html">Events</a></li>
				            			<li><a href="/calendar.html">Calendar</a></li>
				            			<li><a href="/history.html">History</a></li>
				            			<li><a href="/code-of-conduct.html">Code of conduct</a></li>
				            			<li><a href="/sponsors.html">Sponsors</a></li>
				            			<li><a href="/forms-and-docs.html">Policies, forms and documents</a></li>
				            			<li><a href="/committee-meetings.html">Committee meetings</a></li>
				            			<li><a href="/contact-us.html">Contact us</a></li>
				            			<li><a href="/apply.html">Apply for/renew membership</a></li>
				            			<li><a href="/welfare.html">Welfare</a></li>
				            			<li><a href="/shop.html">Shop</a></li>
				            			<li><a href="https://drive.google.com/open?id=17Q66WSyr0skjaDEF6j7QA7bhjg15Hmge">Privacy notice</a></li>
				            			<li><a href="/about.html">About BYFC</a></li>
							</ul>
						</li>
						<li class="submenu">
							<a href="">Teams</a>
							<ul>
								<li><a href="/teams-to-11.html">4 to 11 years</a></li>
								<li><a href="/teams-to-18.html">12 to 18 years</a></li>
								<li><a href="/teams-other.html">Men, Ladies, Vets</a></li>
						<!--		<li><a href="/no-sidebar.html">No Sidebar</a></li>
								<li><a href="/contact.html">Contact</a></li>
								<li class="submenu">
									<a href="">Submenu</a>
									<ul>
										<li><a href="#">Dolore Sed</a></li>
										<li><a href="#">Consequat</a></li>
										<li><a href="#">Lorem Magna</a></li>
										<li><a href="#">Sed Magna</a></li>
										<li><a href="#">Ipsum Nisl</a></li>
									</ul>
								</li>
						-->
							</ul>
						</li>
<!--						<li><a href="/tournament.html">Tournament</a></li> -->
						<li><a href="join-us.html" class="button special">Join BYFC</a></li>
					</ul>
				</nav>
			</header>
