<header id="header">
				<h1 id="logo"><a href="/">BYFC</a></h1>
				<nav id="nav">
					<ul>
						<li><a href="/">Welcome</a></li>
						<li class="submenu">
							<a href="">Club</a>
							<ul>
				            			<li><a href="/blog.html">News</a></li>
				            			<li><a href="/club-forms.html">Forms</a></li>
				            			<li><a href="/club-rules-and-policies.html">Rules and policies</a></li>
							</ul>
						</li>
						<li class="submenu">
							<a href="">Teams</a>
							<ul>
								<li><a href="/left-sidebar.html">4 to 11 years</a></li>
								<li><a href="/right-sidebar.html">12 to 18 years</a></li>
								<li><a href="/right-sidebar.html">Men, Ladies, Vets</a></li>
								<li><a href="/teams.html">Teams (dev)</a></li>
								<li><a href="/no-sidebar.html">No Sidebar</a></li>
								<li><a href="/contact.html">Contact</a></li>
								<li class="submenu">
									<a href="">Submenu</a>
									<ul>
										<li><a href="#">Dolore Sed</a></li>
										<li><a href="#">Consequat</a></li>
										<li><a href="#">Lorem Magna</a></li>
										<li><a href="#">Sed Magna</a></li>
										<li><a href="#">Ipsum Nisl</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<li><a href="/tournament.html">Tournament</a></li>
						<li><a href="#" class="button special">Join BYFC</a></li>
					</ul>
				</nav>
			</header>
